<div id="two">
  <div class="place">
    <h3>Farm</h3>
    <p>Earn 2-5 Gold</p>
    <button (click)="getGold('Farm', 2,5)">Farm!</button>
  </div>
    <div class="place">
    <h3>Cave</h3>
    <p>Earn 5-10 Gold</p>
    <button (click)="getGold('Cave', 5,10)">Cave!</button>
  </div>
    <div class="place">
    <h3>Casino</h3>
    <p>Earn up to or Lose up 100 Gold</p>
    <button (click)="getGold('Casino', -100,100)">Casino!</button>
  </div>

    <div class="place">
    <h3>House</h3>
    <p>Earn 7-15 Gold</p>
    <button (click)="getGold('House', 7,5)">House!</button>
  </div>
  
</div>